body {
    background-color: rgb(154, 167, 167);
    display: flex;
    justify-content: center;
}

.game {
    margin-top: 50px;
    width: 500px;
}

.score {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.player1, .player2 {
    height: 90%;
    width: 45%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: background-color 1.5s, color 1.5s;
}

.player1 {
    background-color: rgb(138, 20, 20);
    color: white;
}

.player2 {
    background-color: rgb(23, 23, 163);
    color: white;
}

.board {
    height: 500px;
    background-color: rgb(17, 17, 122);
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    grid-gap: 10px;
}

.space {
    background-color: rgb(154, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: azure;
}

@media all (pointer:none) and (orientation:landscape) {
    .game {
        width: 70vw;
        flex-direction: row;
    }

    .score {
        flex-direction: column;
    }

    .player1, .player2 {
        height: 45%;
        width: 90%;
    }
}